.flex {
    display: flex
}
.fs-35 {
    font-size: 35px;
}
.fs-38 {
    font-size: 38px;
}
.fs-54 {
    font-size: 54px;
}
.dashboard-icon {
    margin: 0 10px 0 10px
}
.nowrap {
    white-space: nowrap;
}
.dashboard-total {
    font-size: 30px;
    font-weight: 500;
}
#map {
    width: 100%;
}
.full-height {
    height: 100%;
}
.all-center {
    display: flex;
    align-items: center;
}